@import 'tailwindcss';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Fontes */
  --font-sans: var(--font-outfit);
  --font-title: var(--font-cormorant);

  /* Escala de Marca - Est치ticos (Imagem 1) */
  --color-brand-1: #29d6d4;
  --color-brand-2: #00b7e1;
  --color-brand-3: #0093e3;
  --color-brand-4: #3068cd;
  --color-brand-5: #77309a;

  /* Mapeamento Sem칙ntico Shadcn UI */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);

  /* Cores de Texto Din칙micas */
  --color-tx-primary: var(--tx-primary);
  --color-tx-secondary: var(--tx-secondary);
  --color-tx-muted: var(--tx-muted);
  --color-tx-accent: var(--tx-accent);
  --color-tx-success: var(--tx-success);

  /* Acentos Din칙micos */
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-5);
}

:root {
  --radius: 0.625rem;

  /* UI Base */
  --background: #fafafa;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #171717;
  --primary: #77309a;
  --primary-foreground: #ffffff;
  --border: #dcdcdc;
  --ring: #3068cd;

  /* TEXTOS LIGHT */
  --tx-primary: #171717;
  --tx-secondary: #737373;
  --tx-muted: #525252;
  --tx-accent: #262626;
  --tx-success: #29ab59;

  /* ACCENTS LIGHT */
  --accent-1: #19807f;
  --accent-2: #00647a;
  --accent-3: #005380;
  --accent-4: #1d3f7c;
  --accent-5: #77309a;
}

.dark {
  /* UI Base Dark */
  --background: #000000;
  --foreground: #ffffff;
  --card: #0a0a0a;
  --card-foreground: #ffffff;
  --border: #171717;
  --ring: #77309a;

  /* TEXTOS DARK */
  --tx-primary: #ffffff;
  --tx-secondary: #666666;
  --tx-muted: #d0d5db;
  --tx-accent: #c9c9c9;
  --tx-success: #16a34a;

  /* ACCENTS DARK */
  --accent-1: #7fe6e5;
  --accent-2: #47ddff;
  --accent-3: #4dc0ff;
  --accent-4: #83a5e2;
  --accent-5: #d5b1e7;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground antialiased transition-colors duration-300;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
